:host {
  display: inline-flex;
  align-items: center;
  gap: 12px;
  padding: 10px 18px;
  border-radius: 8px;
  background: var(--mat-sys-inverse-surface);
  color: var(--mat-sys-inverse-on-surface);
  box-shadow: 0 3px 10px rgb(0 0 0 / 36%);
  font-size: 14px;
  line-height: 20px;
}
