@use '@angular/material' as mat;

html {
  @include mat.theme((
    color: (primary: mat.$azure-palette, tertiary: mat.$orange-palette),
    typography: Outfit,
    density: 0,
  ));
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
