@mixin styles {
  :root {
    --app-snack-action: #a33a00;
  }

  button[data-variant] .mdc-button__label {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .ui-snackbar-panel {
    --mat-snack-bar-container-color: var(--mat-sys-inverse-surface);
    --mat-snack-bar-supporting-text-color: var(--mat-sys-inverse-on-surface);
  }
}
